<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIDynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>collision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>collisionAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>collisionBound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>collisionDelegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>collisionMode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA36A00D222D41D70041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A025222D41D80041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A030222D41D80041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A044222D42ED0041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A05C222D42ED0041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A067222D42ED0041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A07B222D467A0041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A093222D467A0041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36A09E222D467A0041321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA980477222D3DEC002A3AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA98048F222D3DED002A3AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA98049A222D3DED002A3AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACEC383222C091600FA97CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACEC39C222C091C00FA97CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACEC3A7222C091C00FA97CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
