<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shizhongUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAA2FDE1221D8BD1007E0FF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA2FDFA221D8BDB007E0FF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA2FE05221D8BDB007E0FF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
